body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    max-width: 900px;
    margin: auto;
    padding: 20px;
}

header {
    text-align: center;
}

.box {
    margin-bottom: 25px;
}

h1 {
    font-size: 26px;
}

h2 {
    margin-top: 0;
}

canvas {
    display: block;
    margin: auto;
}

img {
    display: block;
    max-width: 100%;
    margin: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    text-align: center;
}

footer {
    text-align: center;
}
